* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    margin: 0;
    background-color: #fff550;
    color: #000513;
    font-size: 10rem;
    text-align: center;
}

.progress {
    width: 100vw;
    height: 20px;
}


/*xs is default size*/
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }